# Configuración de VTEX
VTEX_ACCOUNT=b2csinsa
VTEX_ENVIRONMENT=vtexcommercestable
VTEX_APP_KEY=
VTEX_APP_TOKEN=
VTEX_PAGE_SIZE=1000

# Configuración de Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Configuración de Autenticación
AUTH_ADMIN_USER=admin
AUTH_ADMIN_PASSWORD=Sinsa2026!
JWT_SECRET=sinsa-oms-monitoreo-secret-key-2026-vtex-security
